{% extends 'examinations/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form method="post">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label> {{f}} </p>
    <div class="form-error">{{ f.errors }}</div>
  {% endfor %}
  <button type="submit">Войти</button>
  <p>Или</p>
  <a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через VK</a><br>
  <a href="{% url 'social:begin' 'github' %}">Войти через GitHub</a><br>
  <a href="{% url 'social:begin' 'yandex-oauth2' %}">Войти через Яндекс</a><br>
  <!--<a href="{% url 'social:begin' 'mailru' %}">Войти через mailru</a>-->
</form>
{% endblock %}